body {
  height: 100%;
  margin: 50px;
  padding: 0;
  background-color: #e0e0d2;
}

header, footer {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  background-image: url("./../images/metal.jpg");
}

header a{
  text-decoration: none;
  color: white;
}

footer img{
  margin-top: 3px;
}

header{
  font-size: 150%;
  min-height: 175px;
}

h1{
  padding-top: 3%;
}

nav{
  padding-bottom: 1%;
}

#homeop, #login, #search, #about, #courses{
  font-weight: bold;
  font-size: 110%;
}

footer{
  margin-top: 1%;
}

nav li {
  display: inline;}

body h2:first-of-type{
  text-align: center;
}

@media (max-width: 800px){
  nav li, .homeop{
    display: block; 
  }

  nav{
    padding-top: 0;
  }
  header{
    font-size: 100%;
  }
}